* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{margin-top: 15px;}
.link-header, .button-header{

        font-size: 23px;
        margin-left:  40px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button-header{

    font-weight: 900;
    font-size: 24px;
    font-family: Montserrat;
    padding: 5px 10px;
    border-radius: 30px;
    border: none;
    background-color: #665AE1;
    color: #ffffff;
}

section{display:inline-block;}
.logo-image{display: inline-block;margin-top: 100px;width: 583px;}


h1{
    
    color: #515151;
    font-size: 100px;
    width: 515px;



}

h2{

    font-family: Montserrat;
    font-size: 58px;
    font-weight: 400;
    line-height: 70.7px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 518px;

}

p{width: 515px;}

.link-section{
        background-color: #ADFF00;
        width: 239px;
       height: 64px;
        border-radius: 50px;
        opacity: 0px;
        margin-top: 30px;


}

@media screen and (min-width:412px) and (max-width:430px) and (orientation: portrait) {

    
    header{
            display: none;

    }

    .logo-image{

        width: 100%;
    }

    

    h1{

        font-family: Montserrat;
        font-size: 50px;
        font-weight: 900;
        line-height: 60.95px;
        width: auto;
        text-align: center;

    }

    h2{

        font-family: Montserrat;
        font-size: 30px;
        font-weight: 900;
        line-height: 60.95px;
        width: auto;
        text-align: center;

    }

    p{display: none;}

    .link-section{width: 100%;}

    
}